<div class="card">
  <%= link_to project, class: "project" do %>
    <div class="card-image">
      <figure class="image is-3by2">
        <%= image_tag(project.cover_url) %>
      </figure>
      <div class="client_logo">
        <div class="project-client-logo">
  				<figure class="image is-32x32">
  					<%= image_tag('https://cdn.worldvectorlogo.com/logos/snapchat.svg', class:'is-rounded') %>
  				</figure>
          <div class="client_name"> [Client Name] </div>
  			</div>
      </div>
    </div>

    <div class="project-data card-content">
      <div class="content">
        <h4 class="project-title"><%= project.title %></h4>
        <span class="project-time"><%= time_ago_in_words(project.updated_at) %></span>
        <div class="project-description"><%= truncate(project.description, length: 60) %></div>
      </div>
    </div>

  <% end %>
</div>
