<div class="card post-card">
  <header class="card-header">

    <div class="card-header-title">
      <div class="user-thumb">
        <figure class="image is-24x24">
          <%= image_tag(shot.user.image, class:'is-rounded') %>
        </figure>
        <div class="user-name"><%= shot.user.name %></div>
      </div>
    </div>

    <div class="card-header-options">
      <div class="dropdown is-hoverable is-right">

        <div class="dropdown-trigger">
          <button class="button is-text" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon">
              <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
            </span>
          </button>
        </div>

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <%= link_to 'Partager', project_shot_path(shot.project, shot), class:'dropdown-item' %>
            <% if user_signed_in? && (current_user.id == @project.user_id) %>
              <%= link_to 'Modifier', edit_project_shot_path(shot.project, shot), class: "dropdown-item" %>
              <hr class="dropdown-divider">
              <%= link_to 'Supprimer', project_shot_path(shot.project, shot), class:'dropdown-item', method: :delete, data: { confirm: 'Êtes vous certain de supprimer ce post ?'} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </header>

  <div class="card-image">
    
    <figure class="image thumb">
      <%= image_tag(shot.get_media_url, class: "zoomable") if shot.is_image? %>
      <%= video_tag(shot.get_media_url, controls: true) if shot.is_video? %>
    </figure>
  </div>

  <div class="card-content">
    <div class="content">
      <div class="user-thumb">
        <figure class="image is-24x24">
          <%= image_tag(shot.user.image, class:'is-rounded') %>
        </figure>
        <div class="user-name"> <strong><%= shot.user.name %></strong> </div>
        <div class="description"> <%= shot.description %> </div>
      </div>
      <br>
      <div class="time"><%= time_ago_in_words(shot.created_at) %></div>
    </div>
  </div>

</div>
