<div class="card">
  <%= link_to project, class: "project" do %>
    <div class="card-image">
      <figure class="image is-fullwidth thumb">
        <% unless project.cover_url.blank? %>
          <%= image_tag(project.cover_url) %>
        <% else %>
          <%= image_tag('placeholder_stories_card.png') %>
        <% end %>
      </figure>

      <div class="client_logo">
        <div class="project-client-logo">

          <% unless project.clientlogo.blank? %>
              <figure class="image is-32x32" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(<%= project.clientlogo %>)">
          <% else %>
              <figure class="image is-32x32" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('https://cdn.worldvectorlogo.com/logos/snapchat.svg')">
          <% end %>
              </figure>

          <div class="client_name">
            <% unless project.clientname.blank? %>
              <%= project.clientname %>
            <% else %>
              <%= '-' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <div class="project-data card-content">
      <div class="content">
        <h4 class="project-title"><%= project.title %></h4>
        <span class="project-time"><%= time_ago_in_words(project.updated_at) %></span>
        <div class="project-description"><%= truncate(project.description, length: 60) %></div>
      </div>
    </div>

  <% end %>
</div>
