<%= render 'cover', project: @project %>

<div class="section">
	<div class="container">
		<div class="columns">

		  <div class="column is-half is-offset-2">
				<% if user_signed_in? %>
					<%= render 'shots/form', project: @project %>
				<% end %>

				<% @project.shots.order('created_at DESC').each do |shot| %>
					<%= render 'project_post', shot: shot  %>
				<% end %>
		  </div>

			<div class="column is-3">
				<%= render 'project_detail' %>
				<%= render 'team' %>
				<%= render 'project_links' %>
		  </div>

		</div>

    <% link_to 'Edit', edit_project_path(@project) %>
  </div>
</div>
