<!DOCTYPE html>
<html>
  <head>
    <title>Octobbble</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity: 'sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin:'anonymous' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <% if flash[:notice] %>
    	<div class="notification is-primary global-notification">
  	  	<p class="notice"><%= notice %></p>
    	</div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
     <div class="navbar-brand">
       <%= link_to root_path, class:"navbar-item" do %>
         <h1 class="title is-5 has-text-white">Octobbble</h1>
       <% end  %>
     <div class="navbar-burger burger" data-target="navbar">
       <span></span>
       <span></span>
       <span></span>
     </div>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
       <div class="navbar-item">
         <div class="field is-grouped">
           <p class="control">
             <%#= link_to 'Shots', root_path , class:"button is-dark" %>
           </p>
         </div>
       </div>
      </div>

      <div class = "navbar-end">
        <% if user_signed_in? %>
          <div class = "navbar-item has-dropdown is-hoverable">
            <a class = "navbar-link" href="#">
              <figure class="image is-24x24">
                <%= image_tag(current_user.image , class:'is-rounded') %>
              </figure>
              <%= current_user.name %>
            </a>

            <div class = "navbar-dropdown is-right">
              <!-- <a class = "navbar-item" href="#">
              JavaScript
              </a>
              <a class = "navbar-item" href="#">
              PHP
              </a>
              <a class = "navbar-item" href="#">
              Java
              </a> -->
              <hr class = "navbar-divider">
              <%= link_to("Déconnexion", destroy_user_session_path, class:'navbar-item')%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </nav>

    <%= yield %>
  </body>
</html>
